[toolchain]

[features]
seeds = false
skip-lint = false

[programs.mainnet]
sentinel = "zeJyNvmriogt1zPFMMPN6quHjy7YEAXKphsNdpJn11a"

[programs.localnet]
sentinel = "zeJyNvmriogt1zPFMMPN6quHjy7YEAXKphsNdpJn11a"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
