<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVY_APP_ID</key>
	<string>your-privy-app-id</string>
	<key>PRIVY_APP_CLIENT_ID</key>
	<string>your-privy-client-id</string>
	<key>SAPP_API_URL</key>
	<string>http://localhost:4002</string>
</dict>
</plist>
